.container {
  width: 410px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute; /* Para centralizar verticalmente */
  top: 50%; /* Para centralizar verticalmente */
  left: 50%; /* Para centralizar horizontalmente */
  transform: translate(-50%, -50%); /* Para centralizar verticalmente e horizontalmente */
}

.title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
  font-size: 18px;
}

form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.link{
  text-align: center;
}
.link a{
  color: #3498db;
  text-decoration: none;
}
.link a:hover{
  text-decoration: underline;
}
